@import './_reset.scss';

::-webkit-scrollbar {
  width: 6px;
  display: unset;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}